<main class="homepage">
  <div class="heading">
    <h1 class="cover-title">  Viewr</h1>
    <p class="lead">a guide to londons latest photography exhibitions reviewed by you
    <br>
    <div class="button">
      <a href="/exhibitions" color="white" ><h5>view exhibitions</h5></a>
    </div>
  </div>


</main>
<div id="footer" style="background-color: purple; height: 300px;">
  <div class="container" >
    <p class="footer-block">Place sticky footer content here.</p>
  </div>
</div>
