body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding: 0;
}

.nav-title {
  font-size: 30px;
}

.homepage {
  width: 100%;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  background: url('../images/hero3.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cover-title {
  font-size: 140px;
  font-weight: bold;
  // color: white;
}


.heading {
  font-size: 100px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-79%,-50%);
}


.index-title {
  text-align: center;
  margin: 40px;
  h1 {
    font-size: 30px;
    color: grey;
  }
}

hr {
  margin-bottom: 40px;
  width: 80%;
}


.login-background {
  width: 100%;
  height: calc(100vh - 66px);
  background: url('../images/hero2.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.registration-container {
  width: 100%;
  height: calc(100vh - 66px);
}

.registraion-form {
  padding: 15px;
}

.form-css {
  padding: 50px;
  .form-control {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid grey;
    padding: 20px;
    font-size: 20px;
  }
  h1 {
    font-weight: bold;
  }
}

.show-main {
  margin: 40px;

}

.show-text {
  margin-top: 10px;
}

.thumbnail {
  margin-bottom: 10px;
}
