
html {
  min-height: 100%;
  position: relative;
  body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Merriweather', serif;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    background-color: #F7F7F7;
    margin-bottom: 60px;
    aside {
      textarea {
        border: none;
        margin: 0 auto;
        width: 100%;
      }
    }
  }
  #footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    .footer-block {
      margin: 20px 0;
    }
}

//Nav

#nav {
  background-color: #F7F7F7;
  background-color: #993B99;
  background-color: purple;
  height: 65px;
  #nav-title {
    font-size: 35px;
    font-weight: bold;
  }
  .nav-item {
    font-size: 19px;
    padding-top: 18px;
    // color: #E7AF96;
  }
}


// .button {
//   border: 2px solid white;
//   padding: 6.5px 3px 3px 3px;
//   width: 180px;
//   text-align: center;
// }



//Homepage

.homepage {
  width: 100%;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  background: url('../images/Hero3.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .heading {
    font-size: 100px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-79%,-50%);
    .cover-title {
      font-size: 140px;
      font-weight: bold;
    }
  }
}


//Index Page

.banner {
  padding-top: 15px;
}

.index-main-container {
  margin: 40px;

  .img-container {
     position:relative;
     overflow: hidden;
     width: 100%;
     height: 350px;
     .index-img {
      position: absolute;
       top: 0;
       left: 0;
       width:100%;
     }
  }
  .exhibition-text {
    padding: 10px 5px;
  }
}

.text-wrapper {
  margin-bottom: 30px;
}

.show-card {
  background-color: white;
  padding-left: 0px;
  padding-right: 0px;
  // margin-left: 5px;
  // margin-right: 5px;
}



hr {
  padding-bottom: 10px;
}

//Forms

.login-background {
  width: 100%;
  height: calc(100vh - 66px);
  background: url('../images/hero2.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.registration-container {
  width: 100%;
  height: calc(100vh - 66px);
}

.registraion-form {
  padding: 15px;
}

.form-css {
  padding: 50px;
  .form-control {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid grey;
    padding: 20px;
    font-size: 20px;
  }
  h1 {
    font-weight: bold;
  }
}


//Show page

.show-main {
  margin: 40px;
  .show-text {
    margin-top: 10px;
    padding: 10px;
  }
}

.thumbnail {
  margin-bottom: 10px;
}

}
