

#index-title {
  font-size: 40px;
}


html {
  min-height: 100%;
  position: relative;
  body {
    // font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
    // font-family: 'Montserrat', sans-serif;
    padding: 0;
    background-color: white;
    margin-bottom: 60px;
  }
  #footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    .footer-block {
      margin: 20px 0;
    }
}


.button {
  border: 2px solid white;
  padding: 6.5px 3px 3px 3px;
  width: 180px;
  text-align: center;
}

#nav {
  background-color: #F7F7F7;
  // background-color: purple;
}

#nav-title {
  font-size: 30px;
  font-weight: bold;
}

.banner {
  background-color: purple;
  color: white;
  text-align: center;
  padding: 5%;
  font-weight: normal;
}


.homepage {
  width: 100%;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  background: url('../images/hero3.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .heading {
    font-size: 100px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-79%,-50%);
    .cover-title {
      font-size: 140px;
      font-weight: bold;
    }
  }
}

//Index Page

.main-container {
  margin: 30px;
}

.img-container {
   position:relative;
   overflow: hidden;
   width: 100%;
   height: 250px;
   .index-img {
    position: absolute;
     top: 0;
     left: 0;
     width:100%;
   }
}

.exhibition-wrapper {
  padding: 0px;
}

.exhibition-text {
  padding: 10px 5px;
}

hr {
  margin: 40px;
  width: 95%;
}

.login-background {
  width: 100%;
  height: calc(100vh - 66px);
  background: url('../images/hero2.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.registration-container {
  width: 100%;
  height: calc(100vh - 66px);
}

.registraion-form {
  padding: 15px;
}

.form-css {
  padding: 50px;
  .form-control {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid grey;
    padding: 20px;
    font-size: 20px;
  }
  h1 {
    font-weight: bold;
  }
}

.show-main {
  margin: 40px;
}

.show-text {
  margin-top: 10px;
  padding: 10px;
}

.thumbnail {
  margin-bottom: 10px;
}

}
