
<%# <h1>viewr</h1>

<p>tag line will go here ...............</p>%>

<%# <p>a site dedicated to capturing the spirit of london in photography</p>%>

<main>
<img class="hero-image" src="/images/mimi-garcia-416098.jpg"></img>
</main>



<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">viewr</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
