<main class="homepage">
  <div class="heading">
    <h1 class="cover-title">  Viewr</h1>
    <p class="lead">a guide to londons latest photography exhibitions reviewed by you
    <br>
    <a href="/exhibitions" color="white" ><h5>view exhibitions</h5></a>
  </div>
</main>
