<main class="homepage">
  <div class="heading">
    <h1 class="display-3" class="viewr">viewr</h1>
    <p class="lead">a guide to londons latest photography exhibitions reviewed by
  </div>
</main>

<%# <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <img class="hero-image" src="images/hero2.jpg"</img>
    <h1 class="display-3">viewr</h1>
    <p class="lead">a guide to londons latest photography exhibitions reviewed by you.</p>
  </div>
</div>%>
